header {
  position: relative;
  width: 1920px;
  height: 130px;
  background: #ffffff;
  box-shadow: 0px 4px 24px rgba(168, 168, 168, 0.25);
}
body {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0px 12px 24px;
  gap: 8px;
  position: absolute;
  width: 588px;
  height: 64px;
  left: 0px;
  top: 33px;
  background: #000000;
  border-radius: 0px 14px 15px 0px;
}
.container h1 {
  width: 295px;
  height: 44px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 20px;
  /* or 91% */

  display: flex;
  align-items: center;

  color: #ffffff;
  transform: translateX(-130px);
}
.container p {
  width: 295px;
  height: 44px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
  transform: translateX(-130px);
}
.logos {
  position: absolute;
  width: 176px;
  height: 81px;
  left: 1721px;
  top: 20px;
}
.logos button {
  width: 55px;
  height: 36px;
  border: 0;
  background: transparent;
  transform: translateX(130px);
  margin-top: 20px;
}
.logos p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.dates__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 15px;

  position: absolute;
  width: 201px;
  height: 61px;
  left: 777px;
  top: 31px;
}
.dates__header h1 {
  width: 137px;
  height: 26px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3b3e45;
}
.dates__header p {
  width: 201px;
  height: 20px;
  transform: translateX(15px);
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #3b3e45;
}

.clima__tempo {
  position: absolute;
  width: 137px;
  height: 18px;
  left: 1194px;
  top: 26px;

  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  text-align: center;

  color: #222222;
}

.container__input {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  left: 24px;
  top: 157px;
}
.container__input select,
.container__input input {
  background: #ffffff;
  border: 1px solid #fece00;
  border-radius: 10px;
  padding: 10px;
}

.container__input input::placeholder {
  width: 106.98px;
height: 20px;
  font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;

display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.7)
}
.input__task {
  box-sizing: border-box;
  width: 391px;
  height: 45px;
}
.dia {
  width: 240px;
}

.hora {
  position: absolute;
  width: 120px;
  height: 45px;
  left: 641px;
}

.buttons {
  position: absolute;
  width: 416px;
  height: 45px;
  left: 1480px;
  top: 158px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}


.icon_plus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  gap: 4px;

  width: 200px;
  height: 44px;

  background: #00ba88;
  border-radius: 10px;
  border: 0;
}

.icon_menos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  gap: 4px;

  width: 200px;
  height: 44px;

  background: #ff3d1f;
  border-radius: 10px;
  border: 0;
}

.calendar {
  width: 154px;
  height: 20px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.delete {
  width: 92px;
  height: 20px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;

  color: #ffffff;
}
